# Project
env/*
tmp/*
private/*
shared/*
*.log
*.tmp
*.env
!*.template

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/

# Nodejs
node_modules


# macOS
.DS_Store
.AppleDouble
.LSOverride

# General
!.gitkeep
